<div class = "container">

  
 
  
     <div class="jumbotron">
      <tr> 
      <h1><%= @question.name %> </h1><br />
      
      <h3> Question #<%=@question.id%></h3> <br />
      
        <td><h4><%= @question.description %></h4></td>
                
      
        <form id = "form">
        <input name = "name" type ="text" placeholder = "Answer"/>
        <button type = "button" onclick="outputname()">Check</button>
         </form>
         <br />
        
      
      
      
      <% if (@question.id==1)%>
<script>

}

function outputname() {
var x,y;
score = 0;
x=document.getElementById("form");
y=x.elements["name"].value;
if (y==15){
document.getElementById("demo").innerHTML=y +" Is correct!" +"<br>";
score = score +  100;
document.getElementById("result").innerHTML ="Your score: " + score;

}
else {
    document.getElementById("demo").innerHTML=y +" Is incorrect!" +"<br>";
    document.getElementById("result").innerHTML ="Your score: " + score;
}
}

</script>
       
       
        <p id = "demo"></p> 
        <p id="result"></p>
        <p id= "next"><a href = "/questions/<%=@question.id + 1 %>/solve" ><button type="button">Next</button></a></p>
     <%end%> 
    
     
     
     
     
     <% if (@question.id ==2)%>
     <p id = "hint"> The answer is yes or no!</p>
<script>
    

function outputname() {
var x,y;
score1 = 0;
x=document.getElementById("form");
y=x.elements["name"].value;
if (y.toString() == "yes"){
document.getElementById("demo").innerHTML=y +" Is correct!" +"<br>";
score1  = score + 100;
document.getElementById("result").innerHTML =
    "Your score: " + score1;
document.getElementById("next").style.visibility = 'visible';

}

else{
    
    document.getElementById("demo").innerHTML =y+" Is incorrect!" + "<br>"; 
    document.getElementById("result").innerHTML =
    "Your score: " + score1; 
}
}

</script>

      
        <p id = "demo"> </p> 
        <p id="result"> </p>
<p id= "next"><a href = "/questions/<%=@question.id + 1 %>/solve" ><button type="button">Next</button></a></p>     <%end%> 
     
     
     
     
     
     
       <% if (@question.id == 3)%>
<script>
    

function outputname() {
var x,y;
score2 = 0;
x=document.getElementById("form");
y=x.elements["name"].value;
if (y ==18){
document.getElementById("demo").innerHTML=y +" Is correct!" +"<br>";
score2  = score1 +  100;
document.getElementById("result").innerHTML =
    "Your score: " + score2;
document.getElementById("next").style.visibility = 'visible';

}

else{
       document.getElementById("demo").innerHTML =y+" Is incorrect!" + "<br>";
document.getElementById("result").innerHTML =
    "Your score: " + score2;
    
}
}

</script>

       
        <p id = "demo"> </p> 
        <p id="result"> </p>
<p id= "next"><a href = "/questions/<%=@question.id + 1 %>/solve" ><button type="button">Next</button></a></p>     <%end%> 
     
     
        <% if (@question.id ==4)%>
<script>
    

function outputname() {
var x,y;
score3 = 0;
x=document.getElementById("form");
y=x.elements["name"].value;

if (y ==242){
document.getElementById("demo").innerHTML=y +" is correct!" +"<br>";
score3  = score2 + 100;
document.getElementById("result").innerHTML =
    "Your score: " + score3;
document.getElementById("next").style.visibility = 'visible';

}

else{
    
    document.getElementById("demo").innerHTML =y+" is incorrect!" + "<br>";  
    document.getElementById("result").innerHTML =
    "Your score: " + score3;
}
}

</script>

   
        <p id = "demo"> </p> 
        <p id="result"> </p>
<p id= "next"><a href = "/questions/<%=@question.id + 1 %>/solve" ><button type="button">Next</button></a></p>     <%end%> 
     
     
     
     
        <% if (@question.id == 5)%>
<script>
    

function outputname() {
var x,y;
 score4 = 0;
x=document.getElementById("form");
y=x.elements["name"].value;
if (y ==8){
document.getElementById("demo").innerHTML=y +" is correct!" +"<br>";
score4  = score4 + 100;
document.getElementById("result").innerHTML =
    "Your score: " + score3;
document.getElementById("next").style.visibility = 'visible';

}

else{
    
    document.getElementById("demo").innerHTML =y+" is incorrect!" + "<br>"; 
    document.getElementById("result").innerHTML =
    "Your score: " + score4;
}
}

</script>

        
        <p id = "demo"> </p> 
        <p id="result"> </p>
<p id= "next"><a href = "/questions/<%=@question.id + 1 %>/solve" ><button type="button">Next</button></a></p>     <%end%> 
     
     
     
        <% if (@question.id == 6)%>
        <p id="hint"> Round to the nearest minute!</p>
<script>
    

function outputname() {
var x,y;
 score5 = 0;
x=document.getElementById("form");
y=x.elements["name"].value;
if (y ==5){
document.getElementById("demo").innerHTML=y +" is correct!" +"<br>";
score5 = score4 + 100;
document.getElementById("result").innerHTML =
    "Your score: " + score5;
document.getElementById("next").style.visibility = 'visible';


}

else{
    
    document.getElementById("demo").innerHTML =y+" is incorrect!" + "<br>";
    document.getElementById("result").innerHTML =
    "Your score: " + score5;
}
}

</script>

        <p id = "demo"> </p> 
        <p id="result"> </p>
<p id= "next"><a href = "/questions/<%=@question.id + 1 %>/solve" ><button type="button">Next</button></a></p>     <%end%> 
     
     
     
     
      </tr>
      
      
      
     
      
     </div>

</div>