<!DOCTYPE html>
<html>
<head>
  <title>SignInPractice</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id ="container">
  <div id ="user_header">
    <%= link_to "Sign up", new_user_path %> or
    <%= link_to "Log in", new_session_path %>
    </div>    
    

<%= yield %>
  </div>
</body>
</html>
